<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo hai bhaiya</title>
    <h1>Bahut badiya bhaiya</h1>
</head>

<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, numquam deserunt. Quam atque ea iste temporibus
    corporis, libero officia saepe aliquid maiores dolor illum doloribus, excepturi at voluptatem earum hic non illo
    omnis cumque a recusandae numquam deserunt? Officia perspiciatis veniam illum itaque totam, optio libero ullam
    molestias expedita iste distinctio labore aperiam adipisci perferendis inventore sed similique! Reiciendis, totam?
</body>

</html>